/* BODY */
body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    font-family: "Segoe UI";
}
a {text-decoration: none !important;}

/* NAGŁÓWEK */
header.Header {
    background-color: rgba(52, 160, 249, 0.1);
    padding: 30px 0;
}
.HeaderText h1 {
    color: #fff;
    font-size: 2.3rem;
    font-weight: bolder;
    max-width: 345px;
    text-transform: uppercase;
}
.HeaderLogo img {width: 100%;}

/* NAVBAR */
nav.sticky-top {
    max-height: 360px;
    overflow-y: auto;
}
a.nav-link {
    color: #ddd !important;
    font-size: 1.1rem;
    font-weight: 500;
    min-width: 100px;
    padding: 12px;
}
a.nav-link:hover {
    transition: .3s;
    background-color: #41474e;
    border-radius: 5px;
}
.active a {
    color: #444 !important;
    background-color: #ddd;
    border-radius: 5px;
}
.active a:hover {
    background-color: #ddd !important;
    cursor: default;
}
.navbar-collapse {text-align: center;}

/* SEKCJE */
.wSection {padding: 20px 0;}
.wSection h1 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 6px #333;
}
.wButton {
    border-radius: 3px;
    font-size: 1.25rem;
    height: 100%;
    padding: 10px;
    text-align: center;
}
.wButton figure {
    font-size: 2.5rem;
    margin-bottom: .7rem;
}
.wButton figcaption {font-size: 1.25rem;}
section {
    text-align: center;
    margin: 15px 0;
}

/* SEKCJA Klasy */
.HomepageKlasy {background-color: rgba(211, 84, 30, .7);}
.HomepageKlasy a {font-weight: 700;}
.HomepageKlasy-button {
    background-color: rgba(211, 97, 44, .6);
    box-shadow: 0 0 10px #333;
}
.HomepageKlasy-button:hover {
    transition: .2s;
    background-color: rgb(185, 85, 38);
}
.HomepageKlasy-button figure {
    color: #fff;
    text-shadow: 0 0 10px #555;
}
.ClassButton div {
    border: 4px solid #ddd;
    border-radius: 100%;
    box-shadow: 0 0 6px #666;
    height: 60px;
    width: 60px;
    margin: 10px auto;
}
.ClassButton span {
    line-height: 48px;
    vertical-align: middle;
}

/* SEKCJA Main */
.HomepageMain {background-color: rgba(0, 110, 184, .5);}
.HomepageMain a {font-weight: 600;}
.HomepageMain-button {
    background-color: rgba(41, 169, 224, .6);
    box-shadow: 0 0 10px #333;
    color: #fff;
}
.HomepageMain-button:hover {
    transition: .2s;
    background-color: rgb(9, 123, 172);
}

/* SEKCJA Code */
.HomepageCode {padding: 30px 0 0;}
.HomepageCode-area {padding-bottom: 30px;}
.HomepageCode-header {
    background-color: rgba(15, 20, 35, .8);
    color: #fff;
    overflow: auto;
    margin: 0;
    padding: 30px;
}
.HomepageCode-header h1 {
    float: left;
    font-size: 2.5rem;
    margin: 0;
}
.HomepageCode-header a {
    color: #fff;
    float: right;
    font-size: 1.5rem;
    padding-top: 5px;
}
.HomepageCode-header a:hover {
    transition: .2s;
    color: #aaa;
}

/* STOPKA */
.HomepageFooter {
    background-color: rgba(51, 51, 51, .9);
    color: #ccc;
    padding: 40px 0;
}
.HomepageFooter b {color: #fff;}


/* SUBPAGES */
.Class2 {background-color: rgba(211, 84, 30, .75);}
.Class3 {background-color: rgba(41, 169, 224, .6);}
.Excercises {background-color: rgba(99, 168, 20, .6);}
.Exam {background-color: rgba(131, 54, 108, .7);}
.Contact {background-color: rgba(230, 230, 230, .3);}

.Subpage-button {
    background-color: rgba(240, 240, 240, .85);
    box-shadow: 0 0 3px #333;
    color: #444;
    font-weight: 600;
}
.Subpage-button:hover {
    transition: .2s;
    background-color: rgba(230, 230, 230, .8);
    color: #333;
}
.Subpage-button figure {margin-bottom: 0;}
.Subpage-button figcaption {font-size: 1rem;}
.Exam figcaption {font-size: 1.2rem;}


/* KOLOROWANIE IKONEK */
svg.fa-file-archive {color: #c93;}
svg.fa-file-excel {color: #394;}
svg.fa-file-powerpoint {color: #d40;}
svg.fa-file-pdf {color: #a00;}
svg.fa-file-word {color: #0ae;}


/* SKALOWANIE */
@media only screen and (min-width:992px) {
    div.HeaderText h1 {
        font-size: 3rem;
        padding-top: 2%;
    }
}
@media only screen and (max-width:767px) {
    div.HeaderText h1 {font-size: 1.6rem;}
    div.wButton figure {margin-bottom: 0;}
}
@media only screen and (max-width:575px) {
    div.wButton {margin: 5px 0;}
    div.row {margin: 0 3%;}
    div.HeaderText {padding: 0;}
    div.HeaderText h1 {
        font-size: 2rem;
        margin-top: 30px;
        max-width: none;
        text-align: center;
    }
    section {margin: 10px 0;}
}
@media only screen and (max-width:363px) {
    div.HeaderText h1 {font-size: 2rem;}
}